# Pandas

NumPy is good at performing math operations on 2d-arrays of numbers. But the major drawback is, it cannot deal with heterogeneous values. So, Pandas dataframes are helpful in that aspect for storing different data types and referring to the values like a dict in python instead of just referring to each item with index.

[Link to Official Documentation](http://pandas.pydata.org/pandas-docs/version/0.23/dsintro.html)

## Series

Pandas series are almost the same as nd arrays in numpy, with an additional inferencing ability with custom labels like *keys* in a *dictionary* in python.

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Example

series1 = pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])
series1

key1    1
key2    2
key3    3
dtype: int64

### Question 1

Create a dictionary with 3 key value pairs and convert it to series.

[**Hint:** Use **.Series**]

In [51]:
dict1 = {"one":12, "two":13, "three":14}

s1 = pd.Series(dict1)
print(s1)

one      12
two      13
three    14
dtype: int64

You can directly use numpy functions on series.
### Question 2

Find the dot product of both the series 1st used in example and 2nd you created

[ **Hint:** Use **np.dot()** ]

In [52]:
d2 = np.dot(series1, s1)
print(d2)

80

## Dataframes

A dataframe is a table with labeled columns which can hold different types of data in each column.

In [8]:
# Example
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

### Question 3

Select second row in the above dataframe df1.

In [11]:
row2 = df1[1:2]
print(row2)

   a  b  c
1  2  4  7

### Question 4

Select column c in second row of df1.

[ **Hint:** For using labels use **df.loc[row, column]**. For using numeric indexes use **df.iloc[]**. ]

In [15]:
c2 = row2.loc[1,"c"]
print(c2)

7

## Using Dataframes on a dataset

##### Using the mtcars dataset.

For the below set of questions, we will be using the cars data from [Motor Trend Car Road Tests](http://stat.ethz.ch/R-manual/R-devel/library/datasets/html/mtcars.html)

The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973–74 models). 


Details :
    
A data frame with 32 observations on 11 (numeric) variables.

[, 1] 	mpg 	Miles/(US) gallon

[, 2] 	cyl 	Number of cylinders

[, 3] 	disp 	Displacement (cu.in.)

[, 4] 	hp 	Gross horsepower

[, 5] 	drat 	Rear axle ratio

[, 6] 	wt 	Weight (1000 lbs)

[, 7] 	qsec 	1/4 mile time

[, 8] 	vs 	Engine (0 = V-shaped, 1 = straight)

[, 9] 	am 	Transmission (0 = automatic, 1 = manual)

[,10] 	gear 	Number of forward gears

[,11] 	carb 	Number of carburetors

In [33]:
# Reading a dataset from a csv file using pandas.

mtcars = pd.read_csv("mtcars.csv")
print(mtcars)
mtcars.index = mtcars['name']

Saving mtcars.csv to mtcars (2).csv

ValueError: ignored

Following questions are based on analysing a particular dataset using pandas dataframes.

### Question 5

Check the type and dimensions of the given dataset (mtcars).


[ **Hint:** Use **type()** and **df.shape** ]

In [36]:
print("Dataset type: " + str(type(mtcars)))
print("Dataset shape: " + str(mtcars.shape))
print(mtcars)

Dataset type: <class 'pandas.core.frame.DataFrame'>
Dataset shape: (32, 12)
                                    name   mpg  cyl   disp   hp  drat     wt  \
name
Mazda RX4                      Mazda RX4  21.0    6  160.0  110  3.90  2.620
Mazda RX4 Wag              Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875
Datsun 710                    Datsun 710  22.8    4  108.0   93  3.85  2.320
Hornet 4 Drive            Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215
Hornet Sportabout      Hornet Sportabout  18.7    8  360.0  175  3.15  3.440
Valiant                          Valiant  18.1    6  225.0  105  2.76  3.460
Duster 360                    Duster 360  14.3    8  360.0  245  3.21  3.570
Merc 240D                      Merc 240D  24.4    4  146.7   62  3.69  3.190
Merc 230                        Merc 230  22.8    4  140.8   95  3.92  3.150
Merc 280                        Merc 280  19.2    6  167.6  123  3.92  3.440
Merc 280C                      Merc 280C  17.8    6  167.6  123  3.92  3.440
Merc 450SE                    Merc 450SE  16.4    8  275.8  180  3.07  4.070
Merc 450SL                    Merc 450SL  17.3    8  275.8  180  3.07  3.730
Merc 450SLC                  Merc 450SLC  15.2    8  275.8  180  3.07  3.780
Cadillac Fleetwood    Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250
Lincoln Continental  Lincoln Continental  10.4    8  460.0  215  3.00  5.424
Chrysler Imperial      Chrysler Imperial  14.7    8  440.0  230  3.23  5.345
Fiat 128                        Fiat 128  32.4    4   78.7   66  4.08  2.200
Honda Civic                  Honda Civic  30.4    4   75.7   52  4.93  1.615
Toyota Corolla            Toyota Corolla  33.9    4   71.1   65  4.22  1.835
Toyota Corona              Toyota Corona  21.5    4  120.1   97  3.70  2.465
Dodge Challenger        Dodge Challenger  15.5    8  318.0  150  2.76  3.520
AMC Javelin                  AMC Javelin  15.2    8  304.0  150  3.15  3.435
Camaro Z28                    Camaro Z28  13.3    8  350.0  245  3.73  3.840
Pontiac Firebird        Pontiac Firebird  19.2    8  400.0  175  3.08  3.845
Fiat X1-9                      Fiat X1-9  27.3    4   79.0   66  4.08  1.935
Porsche 914-2              Porsche 914-2  26.0    4  120.3   91  4.43  2.140
Lotus Europa                Lotus Europa  30.4    4   95.1  113  3.77  1.513
Ford Pantera L            Ford Pantera L  15.8    8  351.0  264  4.22  3.170
Ferrari Dino                Ferrari Dino  19.7    6  145.0  175  3.62  2.770
Maserati Bora              Maserati Bora  15.0    8  301.0  335  3.54  3.570
Volvo 142E                    Volvo 142E  21.4    4  121.0  109  4.11  2.780

                      qsec  vs  am  gear  carb
name
Mazda RX4            16.46   0   1     4     4
Mazda RX4 Wag        17.02   0   1     4     4
Datsun 710           18.61   1   1     4     1
Hornet 4 Drive       19.44   1   0     3     1
Hornet Sportabout    17.02   0   0     3     2
Valiant              20.22   1   0     3     1
Duster 360           15.84   0   0     3     4
Merc 240D            20.00   1   0     4     2
Merc 230             22.90   1   0     4     2
Merc 280             18.30   1   0     4     4
Merc 280C            18.90   1   0     4     4
Merc 450SE           17.40   0   0     3     3
Merc 450SL           17.60   0   0     3     3
Merc 450SLC          18.00   0   0     3     3
Cadillac Fleetwood   17.98   0   0     3     4
Lincoln Continental  17.82   0   0     3     4
Chrysler Imperial    17.42   0   0     3     4
Fiat 128             19.47   1   1     4     1
Honda Civic          18.52   1   1     4     2
Toyota Corolla       19.90   1   1     4     1
Toyota Corona        20.01   1   0     3     1
Dodge Challenger     16.87   0   0     3     2
AMC Javelin          17.30   0   0     3     2
Camaro Z28           15.41   0   0     3     4
Pontiac Firebird     17.05   0   0     3     2
Fiat X1-9            18.90   1   1     4     1
Porsche 914-2        16.70   0   1     5     2
Lotus Europa         16.90   1   1     5     2
Ford Pantera L       14.50   0   1     5     4
Ferrari Dino         15.50   0   1     5     6
Maserati Bora        14.60   0   1     5     8
Volvo 142E           18.60   1   1     4     2

### Question 6

Check the first 10 lines and last 10 lines of the given dataset (mtcars).

[ **Hint:** Use **.head()** and **.tail()** ]

In [31]:
print(mtcars.head(10))
print(mtcars.tail(10))

                                name   mpg  cyl   disp   hp  drat     wt  \
name
Mazda RX4                  Mazda RX4  21.0    6  160.0  110  3.90  2.620
Mazda RX4 Wag          Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875
Datsun 710                Datsun 710  22.8    4  108.0   93  3.85  2.320
Hornet 4 Drive        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215
Hornet Sportabout  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440
Valiant                      Valiant  18.1    6  225.0  105  2.76  3.460
Duster 360                Duster 360  14.3    8  360.0  245  3.21  3.570
Merc 240D                  Merc 240D  24.4    4  146.7   62  3.69  3.190
Merc 230                    Merc 230  22.8    4  140.8   95  3.92  3.150
Merc 280                    Merc 280  19.2    6  167.6  123  3.92  3.440

                    qsec  vs  am  gear  carb
name
Mazda RX4          16.46   0   1     4     4
Mazda RX4 Wag      17.02   0   1     4     4
Datsun 710         18.61   1   1     4     1
Hornet 4 Drive     19.44   1   0     3     1
Hornet Sportabout  17.02   0   0     3     2
Valiant            20.22   1   0     3     1
Duster 360         15.84   0   0     3     4
Merc 240D          20.00   1   0     4     2
Merc 230           22.90   1   0     4     2
Merc 280           18.30   1   0     4     4
                              name   mpg  cyl   disp   hp  drat     wt   qsec  \
name
AMC Javelin            AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30
Camaro Z28              Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41
Pontiac Firebird  Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05
Fiat X1-9                Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90
Porsche 914-2        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70
Lotus Europa          Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90
Ford Pantera L      Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50
Ferrari Dino          Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50
Maserati Bora        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60
Volvo 142E              Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60

                  vs  am  gear  carb
name
AMC Javelin        0   0     3     2
Camaro Z28         0   0     3     4
Pontiac Firebird   0   0     3     2
Fiat X1-9          1   1     4     1
Porsche 914-2      0   1     5     2
Lotus Europa       1   1     5     2
Ford Pantera L     0   1     5     4
Ferrari Dino       0   1     5     6
Maserati Bora      0   1     5     8
Volvo 142E         1   1     4     2

### Question 7

Print all the column labels in the given dataset (mtcars).

In [37]:
print(list(mtcars))

['name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

### Question 8

Select first 6 rows and 3 columns in mtcars dataset.

[ **Hint:** **mtcars.iloc[ : , : ]** gives all rows and columns in the dataset ]

In [40]:
df8 = mtcars.iloc[:6, :3]
df8

                                name   mpg  cyl
name
Mazda RX4                  Mazda RX4  21.0    6
Mazda RX4 Wag          Mazda RX4 Wag  21.0    6
Datsun 710                Datsun 710  22.8    4
Hornet 4 Drive        Hornet 4 Drive  21.4    6
Hornet Sportabout  Hornet Sportabout  18.7    8
Valiant                      Valiant  18.1    6

### Question 9

Select rows from name **Mazda RX4** to **Valiant** in the mtcars dataset and display only mpg and cyl values of those cars. 

[ **Hint:** Use **iloc or loc** ].

In [44]:
df9_1 = mtcars.iloc[:6,:] #select from Mazda RX4 to Valiant

df9_2 = df9_1.iloc[:, 1:3] #select mpg and cyl vals
df9_2

                    mpg  cyl
name
Mazda RX4          21.0    6
Mazda RX4 Wag      21.0    6
Datsun 710         22.8    4
Hornet 4 Drive     21.4    6
Hornet Sportabout  18.7    8
Valiant            18.1    6

### Question 10

Sort the dataframe by mpg (i.e. miles/gallon):

[ **Hint**: **inplace = True** will make changes to the data ]

In [45]:
df10 = mtcars.sort_values("mpg") #lowest to highest
df10

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
name,,,,,,,,,,,,
Lincoln Continental,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Cadillac Fleetwood,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Camaro Z28,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Duster 360,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Chrysler Imperial,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Maserati Bora,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Merc 450SLC,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
AMC Javelin,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Dodge Challenger,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
Ford Pantera L,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Merc 450SE,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 280C,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Valiant,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Merc 280,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Pontiac Firebird,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Ferrari Dino,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Volvo 142E,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
Toyota Corona,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Merc 230,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Datsun 710,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Merc 240D,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Porsche 914-2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Fiat X1-9,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Lotus Europa,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Honda Civic,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Fiat 128,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Toyota Corolla,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1

### Question 11

Print the mean displacement and horsepower of the cars grouped by the number of cylinders.

In [48]:
rows = len(mtcars.index)
disp = 0
hp = 0
for d in mtcars["disp"]:
    disp += d
for h in mtcars["hp"]:
    hp += h

df11 = mtcars.sort_values("cyl")

print("Mean disp: " + str(disp/rows))
print("Mean hp: " + str(hp/rows))

Mean disp: 230.72187500000004
Mean hp: 146.6875

### Question 12

Create a new column in the dataframe whose value will be 1 if the car is of Toyota company and 0 otherwise.

In [58]:
isToyota = []
for name in mtcars["name"]:
  if name.split(" ")[0] == "Toyota":
    isToyota.append(1)
  else:
    isToyota.append(0)

mtcars["toyota"] = isToyota
print(mtcars)

                                    name   mpg  cyl   disp   hp  drat     wt  \
name
Mazda RX4                      Mazda RX4  21.0    6  160.0  110  3.90  2.620
Mazda RX4 Wag              Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875
Datsun 710                    Datsun 710  22.8    4  108.0   93  3.85  2.320
Hornet 4 Drive            Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215
Hornet Sportabout      Hornet Sportabout  18.7    8  360.0  175  3.15  3.440
Valiant                          Valiant  18.1    6  225.0  105  2.76  3.460
Duster 360                    Duster 360  14.3    8  360.0  245  3.21  3.570
Merc 240D                      Merc 240D  24.4    4  146.7   62  3.69  3.190
Merc 230                        Merc 230  22.8    4  140.8   95  3.92  3.150
Merc 280                        Merc 280  19.2    6  167.6  123  3.92  3.440
Merc 280C                      Merc 280C  17.8    6  167.6  123  3.92  3.440
Merc 450SE                    Merc 450SE  16.4    8  275.8  180  3.07  4.070
Merc 450SL                    Merc 450SL  17.3    8  275.8  180  3.07  3.730
Merc 450SLC                  Merc 450SLC  15.2    8  275.8  180  3.07  3.780
Cadillac Fleetwood    Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250
Lincoln Continental  Lincoln Continental  10.4    8  460.0  215  3.00  5.424
Chrysler Imperial      Chrysler Imperial  14.7    8  440.0  230  3.23  5.345
Fiat 128                        Fiat 128  32.4    4   78.7   66  4.08  2.200
Honda Civic                  Honda Civic  30.4    4   75.7   52  4.93  1.615
Toyota Corolla            Toyota Corolla  33.9    4   71.1   65  4.22  1.835
Toyota Corona              Toyota Corona  21.5    4  120.1   97  3.70  2.465
Dodge Challenger        Dodge Challenger  15.5    8  318.0  150  2.76  3.520
AMC Javelin                  AMC Javelin  15.2    8  304.0  150  3.15  3.435
Camaro Z28                    Camaro Z28  13.3    8  350.0  245  3.73  3.840
Pontiac Firebird        Pontiac Firebird  19.2    8  400.0  175  3.08  3.845
Fiat X1-9                      Fiat X1-9  27.3    4   79.0   66  4.08  1.935
Porsche 914-2              Porsche 914-2  26.0    4  120.3   91  4.43  2.140
Lotus Europa                Lotus Europa  30.4    4   95.1  113  3.77  1.513
Ford Pantera L            Ford Pantera L  15.8    8  351.0  264  4.22  3.170
Ferrari Dino                Ferrari Dino  19.7    6  145.0  175  3.62  2.770
Maserati Bora              Maserati Bora  15.0    8  301.0  335  3.54  3.570
Volvo 142E                    Volvo 142E  21.4    4  121.0  109  4.11  2.780

                      qsec  vs  am  gear  carb  toyota
name
Mazda RX4            16.46   0   1     4     4       0
Mazda RX4 Wag        17.02   0   1     4     4       0
Datsun 710           18.61   1   1     4     1       0
Hornet 4 Drive       19.44   1   0     3     1       0
Hornet Sportabout    17.02   0   0     3     2       0
Valiant              20.22   1   0     3     1       0
Duster 360           15.84   0   0     3     4       0
Merc 240D            20.00   1   0     4     2       0
Merc 230             22.90   1   0     4     2       0
Merc 280             18.30   1   0     4     4       0
Merc 280C            18.90   1   0     4     4       0
Merc 450SE           17.40   0   0     3     3       0
Merc 450SL           17.60   0   0     3     3       0
Merc 450SLC          18.00   0   0     3     3       0
Cadillac Fleetwood   17.98   0   0     3     4       0
Lincoln Continental  17.82   0   0     3     4       0
Chrysler Imperial    17.42   0   0     3     4       0
Fiat 128             19.47   1   1     4     1       0
Honda Civic          18.52   1   1     4     2       0
Toyota Corolla       19.90   1   1     4     1       1
Toyota Corona        20.01   1   0     3     1       1
Dodge Challenger     16.87   0   0     3     2       0
AMC Javelin          17.30   0   0     3     2       0
Camaro Z28           15.41   0   0     3     4       0
Pontiac Firebird     17.05   0   0     3     2       0
Fiat X1-9            18.90   1   1     4     1       0
Porsche 914-2        16.70   0   1     5     2       0
Lotus Europa         16.90   1   1     5     2       0
Ford Pantera L       14.50   0   1     5     4       0
Ferrari Dino         15.50   0   1     5     6       0
Maserati Bora        14.60   0   1     5     8       0
Volvo 142E           18.60   1   1     4     2       0

### Question 13

Define a function that will multiply all values in a column by 4, and apply it to the qsec column.

In [64]:
def mult4(df, col):
  df[col] = 4 * df[col]

df13 = mtcars
mult4(df13, "qsec")
print(df13["qsec"])

name
Mazda RX4              1053.44
Mazda RX4 Wag          1089.28
Datsun 710             1191.04
Hornet 4 Drive         1244.16
Hornet Sportabout      1089.28
Valiant                1294.08
Duster 360             1013.76
Merc 240D              1280.00
Merc 230               1465.60
Merc 280               1171.20
Merc 280C              1209.60
Merc 450SE             1113.60
Merc 450SL             1126.40
Merc 450SLC            1152.00
Cadillac Fleetwood     1150.72
Lincoln Continental    1140.48
Chrysler Imperial      1114.88
Fiat 128               1246.08
Honda Civic            1185.28
Toyota Corolla         1273.60
Toyota Corona          1280.64
Dodge Challenger       1079.68
AMC Javelin            1107.20
Camaro Z28              986.24
Pontiac Firebird       1091.20
Fiat X1-9              1209.60
Porsche 914-2          1068.80
Lotus Europa           1081.60
Ford Pantera L          928.00
Ferrari Dino            992.00
Maserati Bora           934.40
Volvo 142E             1190.40
Name: qsec, dtype: float64